@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap');
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/background.png");
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans Buhid', sans-serif;
}
#cookie{
    margin-top: 140px;
}
button{
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 20px;
}